html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.wrapper {
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}
.site-navigation {
    display: inline-block;
    width: 900px;
    padding: 72px 0px 98px;
    text-align: center;
}
.site-navigation ul {
    padding: 0;
    margin: 0;
}
.site-navigation li {
    text-align: center;
    margin-right: 75px;
    list-style: none;
    display: inline-block;
}
.site-navigation li:last-child {
    margin-right: 0;
}
.site-navigation a {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
}
.site-navigation a:hover {
    color: #35baf6;
}
.site-navigation a:focus {
    color: #35baf6;
}
.img {
    padding-bottom: 30px;
}
.article-item-left {
    width: 420px;
    display: inline-block;
    padding-bottom: 52px;
    
}
.article-item-right {
    width: 420px;
    margin-left: 60px;
    display: inline-block;
    padding-bottom: 52px;
}
.text-name {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #626262;
    line-height: 36px;
    margin: 0px;
    padding-bottom: 36px;
}
.text {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #626262;
    line-height: 24px;
    margin: 0px;
}
.text-under-img {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    line-height: 17px;
    padding-bottom: 32px;
    margin: 0;
}
.load-more {
    width: 164px;
    height: 60px;
    padding: 0;
    margin: 0 auto;
    display: block;
    /* margin: 0px 0px 70px 358px; */
    font-family: 'Playfair Display', serif;
    color: #626262;
    border: solid 1px #626262;
    font-size: 20px;
    line-height: 24px;
    background-color: #fff;
    cursor: pointer;
}